{% extends 'modelPage.html' %}

{% block content %}
    
    <h2>Agendamentos</h2>
    <ul>
        {% for evento in eventos %}
            <li>{{evento.titulo}} - {{evento.getDataEvento}}
                <a class="btn btn-success" href="evento/?id={{evento.id}}" role="button">Editar</a>
                <a class="btn btn-danger" href="evento/delete/{{evento.id}}/" role="button">Deletar</a>
            </li>
        {% endfor %}
    </ul>
    <a class="btn btn-primary" href="evento/" role="button">Novo evento</a>
{% endblock %}